<div class='container pt-5'>
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">動物情報の編集</h3>
      <% if @animal.errors.any? %>
        <%= @animal.errors.count %>件のエラーが発生しました
        <ul>
          <% @animal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class="col-12">
      <%= form_with model: @animal, url: admin_animal_path(@animal), method: :patch do |f| %>
        <div class="form-group">
          <%= f.label :動物画像 %>
          <%= f.file_field :image, accept: "image/*" %>
        </div>

        <div class="form-group">
          <%= f.label :動物名 %>
          <%= f.text_field :name, placeholder: "動物名", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :種類 %>
          <%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, include_blank: "選択してください", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :生息地 %>
          <%= f.text_field :habitat, placeholder: "生息地", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :体長 %>
          <%= f.text_field :body_length, placeholder: "体長", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :体重 %>
          <%= f.text_field :body_weight, placeholder: "体重", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :特徴 %>
          <%= f.text_field :feature, placeholder: "特徴", class: "form-control" %>
        </div>

        <div class="form-group text-center">
          <%= f.submit "変更を保存", class: "btn btn-success" %>
          <%= link_to '保存せずに戻る', admin_animal_path(@animal), class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>