<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <%= render "admin/animal_types/search_animal_type", animal_types: AnimalType.all %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <% if params[:name].nil? %>
        <h4 class="mb-4">動物一覧</h4>
      <% else %>
        <h4 class="mb-4"><%= params[:name] %>一覧</h4>
      <% end %>
    </div>
    <div class="col-2">
      <%= link_to "新規登録", new_admin_animal_path, class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <% @animals.each do |animal| %>
      <div class="col-3 mb-4">
        <div class="card h-100">
          <%= link_to admin_animal_path(animal) do %>
            <%= image_tag animal.get_image_fit(240, 160), class: "card-img-top", alt: animal.name %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= animal.name %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>