<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">動物の新規登録</h3>
      <% if @animal.errors.any? %>
        <%= @animal.errors.count %>件のエラーが発生しました
        <ul>
          <% @animal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= form_with model: @animal, url: admin_animals_path do |f| %>
        <div class="form-group">
          <%= f.label :動物画像 %>
          <%= f.file_field :image, accept: "image/*" %>
        </div>

        <div class="form-group">
          <%= f.label :動物名 %>
          <%= f.text_field :name, placeholder: "ライオン", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :種類 %>
          <%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, include_blank: "選択してください", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :生息地 %>
          <%= f.text_field :habitat, placeholder: "アフリカとインドの一部の草原やまばらな林", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :体長 %>
          <%= f.text_field :body_length, placeholder: "1.6〜2.5ｍ", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :体重 %>
          <%= f.text_field :body_weight, placeholder: "150〜260kg", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :特徴 %>
          <%= f.text_area :feature, rows: 8, placeholder: "子どものころには体に暗褐色の斑点がありますが、10カ月ほどで消えてしまいます。", class: "form-control" %>
        </div>

        <div class="form-group text-center">
          <%= f.submit "新規登録", class: "btn btn-success" %>
          <%= link_to '新規登録せずに戻る', admin_animals_path(@animal), class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>