<div class='container pt-5'>
  <div class='row'>
    <div class="col-12">
      <%= form_with model: @animal, url: admin_animals_path do |f| %>
        <div class="form-group">
          <%= f.label :動物画像 %>
          <%= f.file_field :image, accept: "image/*" %>
        </div>

        <div class="form-group">
          <%= f.label :動物名 %>
          <%= f.text_field :name, placeholder: "動物名", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :種類 %>
          <%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, include_blank: "選択してください" %>
        </div>

        <div class="form-group">
          <%= f.label :生息地 %>
          <%= f.text_field :habitat, placeholder: "生息地", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :体長 %>
          <%= f.text_field :body_length, placeholder: "体長", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :体重 %>
          <%= f.text_field :body_weight, placeholder: "体重", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :特徴 %>
          <%= f.text_field :feature, placeholder: "特徴", class: "form-control" %>
        </div>

        <div class="form-group text-center">
          <%= f.submit "新規登録", class: "btn btn-success" %>
          <%= link_to '新規登録せずに戻る', admin_animals_path(@animal), class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>