<div class="container">
  <div class="mt-4">
    <div class="text-center">
      <h3 class="col-md-4">動物園の詳細編集</h3>
    </div>
  </div>
  <div class="table-responsive">
    <%= form_with model: @zoo, url: admin_zoo_path(@zoo), method: :patch do |f| %>
      <table class="col-10 mt-5 mx-auto">
        <tr>
          <th><%= f.label :"動物園画像" %></th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th><%= f.label :"動物名" %></th>
          <td><%= f.text_field :name, placeholder: "動物園名", class: "form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :"動物園説明" %></th>
          <td><%= f.text_field :description, placeholder: "動物園説明", class: "form-control" %></td>
        </tr>
      </table>
      <div class="text-center">
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>