<div class='container pt-5'>
  <div class='row'>
    <div class="col-12">
      <%= form_with model: @zoo, url: admin_zoos_path do |f| %>
        <div class="form-group">
          <%= f.label :動物園画像 %>
          <%= f.file_field :image, accept: "image/*" %>
        </div>

        <div class="form-group">
          <%= f.label :動物園名 %>
          <%= f.text_field :name, placeholder: "動物園名", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :動物園説明 %>
          <%= f.text_area :description, rows:'5', placeholder: "動物園説明", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :地方 %>
          <%= f.collection_select :region, regions_for_select, :to_s, :humanize, { prompt: '選択してください' }, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :住所 %>
          <%= f.text_field :address, placeholder: "住所", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :開館時間 %>
          <%= f.text_field :opening_hours, placeholder: "開館時間", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :休館日 %>
          <%= f.text_field :closing_day, placeholder: "休館日", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :入館料 %>
          <%= f.text_field :admission, placeholder: "入館料", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :電話番号 %>
          <%= f.text_field :telephone_number, placeholder: "電話番号", class: "form-control" %>
        </div>

        <div class="form-group text-center">
          <%= f.submit "新規登録", class: "btn btn-success" %>
          <%= link_to '新規登録せずに戻る', admin_zoos_path(@zoo), class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>