<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <%= link_to '動物園一覧へ戻る', admin_zoos_path, class: "btn btn-danger" %>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-12 text-center">
      <%= image_tag @zoo.get_image_fill(1100, 500), class: "img-fluid rounded mb-4" %>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <h2><%= @zoo.name %></h2>
    </div>
    <div class="col-3">
      <%= link_to '編集する', edit_admin_zoo_path(@zoo), class: "btn btn-success" %>
      <%= link_to '削除する', admin_zoo_path(@zoo), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
    </div>
  </div>

  <%= render 'public/zoos/zoo_info', zoo: @zoo %>
</div>

<div class="container">
  <div class="row pt-5">
    <div class="col-12">
      <h3>園内の動物たち</h3>
      <p>「登録中」状態の動物がユーザー側の動物園詳細に表示されます。</p>
    </div>
  </div>

  <%= render 'zoo_animals' %>
</div>