<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <h3 class="text-center">動物園の詳細</h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <%= image_tag @zoo.get_image(200, 130) %>
    </div>
    <div class="col-md-8">
      <table class="col-md-7 col-sm-5 mx-auto">
        <tr>
          <th>動物園名</th>
          <td><%= @zoo.name %></td>
        </tr>
        <tr>
          <th>動物園説明</th>
          <td><%= @zoo.description %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="text-center mt-3">
    <%= link_to "編集する", edit_admin_zoo_path(@zoo), class: "btn btn-success" %>
  </div>

  <div class="row pt-5">
    <h3 class="text-center">見られる動物</h3>
  </div>
  <div class="row pt-5">
    <% @animals.each do |animal| %>
      <div class="col-sm-3">
        <p><%= image_tag animal.get_image(120, 80) %></p>
        <div><%= animal.name %></div>
        <% if @zoo_animals.exists?(animal_id: animal.id) %>
          <%= link_to '解除', admin_zoo_zoo_animals_path(@zoo, animal_id: animal.id), method: :delete, class: "btn btn-sm btn-danger" %>
        <% else %>
          <%= link_to '登録', admin_zoo_zoo_animals_path(@zoo, animal_id: animal.id), method: :post, class: "btn btn-sm btn-success" %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>