<div class="row">
  <h4 class="d-inline-block">北海道</h4>
</div>
<div class="row">
  <% @zoos.each do |zoo| %>
    <% if zoo.region.include?('北海道') %>
      <div class="col-sm-3">
        <p>
          <%= link_to zoo_path(zoo) do %>
            <%= image_tag zoo.get_image(120, 80) %>
          <% end %>
        </p>
        <div><%= zoo.name %></div>
        <div><%= zoo.description %></div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <h4 class="d-inline-block">東北</h4>
</div>
<div class="row">
  <% @zoos.each do |zoo| %>
    <% if zoo.region.include?('東北') %>
      <div class="col-sm-3">
        <p>
          <%= link_to zoo_path(zoo) do %>
            <%= image_tag zoo.get_image(120, 80) %>
          <% end %>
        </p>
        <div><%= zoo.name %></div>
        <div><%= zoo.description %></div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <h4 class="d-inline-block">関東</h4>
</div>
<div class="row">
  <% @zoos.each do |zoo| %>
    <% if zoo.region.include?('関東') %>
      <div class="col-sm-3">
        <p>
          <%= link_to zoo_path(zoo) do %>
            <%= image_tag zoo.get_image(120, 80) %>
          <% end %>
        </p>
        <div><%= zoo.name %></div>
        <div><%= zoo.description %></div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <h4 class="d-inline-block">中部</h4>
</div>
<div class="row">
  <% @zoos.each do |zoo| %>
    <% if zoo.region.include?('中部') %>
      <div class="col-sm-3">
        <p>
          <%= link_to zoo_path(zoo) do %>
            <%= image_tag zoo.get_image(120, 80) %>
          <% end %>
        </p>
        <div><%= zoo.name %></div>
        <div><%= zoo.description %></div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <h4 class="d-inline-block">近畿</h4>
</div>
<div class="row">
  <% @zoos.each do |zoo| %>
    <% if zoo.region.include?('近畿') %>
      <div class="col-sm-3">
        <p>
          <%= link_to zoo_path(zoo) do %>
            <%= image_tag zoo.get_image(120, 80) %>
          <% end %>
        </p>
        <div><%= zoo.name %></div>
        <div><%= zoo.description %></div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <h4 class="d-inline-block">中国</h4>
</div>
<div class="row">
  <% @zoos.each do |zoo| %>
    <% if zoo.region.include?('中国') %>
      <div class="col-sm-3">
        <p>
          <%= link_to zoo_path(zoo) do %>
            <%= image_tag zoo.get_image(120, 80) %>
          <% end %>
        </p>
        <div><%= zoo.name %></div>
        <div><%= zoo.description %></div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <h4 class="d-inline-block">四国</h4>
</div>
<div class="row">
  <% @zoos.each do |zoo| %>
    <% if zoo.region.include?('四国') %>
      <div class="col-sm-3">
        <p>
          <%= link_to zoo_path(zoo) do %>
            <%= image_tag zoo.get_image(120, 80) %>
          <% end %>
        </p>
        <div><%= zoo.name %></div>
        <div><%= zoo.description %></div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <h4 class="d-inline-block">九州</h4>
</div>
<div class="row">
  <% @zoos.each do |zoo| %>
    <% if zoo.region.include?('九州') %>
      <div class="col-sm-3">
        <p>
          <%= link_to zoo_path(zoo) do %>
            <%= image_tag zoo.get_image(120, 80) %>
          <% end %>
        </p>
        <div><%= zoo.name %></div>
        <div><%= zoo.description %></div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <h4 class="d-inline-block">沖縄</h4>
</div>
<div class="row">
  <% @zoos.each do |zoo| %>
    <% if zoo.region.include?('沖縄') %>
      <div class="col-sm-3">
        <p>
          <%= link_to zoo_path(zoo) do %>
            <%= image_tag zoo.get_image(120, 80) %>
          <% end %>
        </p>
        <div><%= zoo.name %></div>
        <div><%= zoo.description %></div>
      </div>
    <% end %>
  <% end %>
</div>