<div class="search_genre pb-5 border border-dark mb-5 bg-light">
  <h6 class="text-center border-bottom border-dark">種類検索</h6>
  <ul class="px-2">
      <li style="list-style: none;">
        <%= link_to "北海道", zoos_path(region: '北海道'), class: "text-dark" %>
      </li>
      <li style="list-style: none;">
        <%= link_to "東北", zoos_path(region: '東北'), class: "text-dark" %>
      </li>
      <li style="list-style: none;">
        <%= link_to "関東", zoos_path(region: '関東'), class: "text-dark" %>
      </li>
      <li style="list-style: none;">
        <%= link_to "中部", zoos_path(region: '中部'), class: "text-dark" %>
      </li>
      <li style="list-style: none;">
        <%= link_to "近畿", zoos_path(region: '近畿'), class: "text-dark" %>
      </li>
      <li style="list-style: none;">
        <%= link_to "中国", zoos_path(region: '中国'), class: "text-dark" %>
      </li>
      <li style="list-style: none;">
        <%= link_to "四国", zoos_path(region: '四国'), class: "text-dark" %>
      </li>
      <li style="list-style: none;">
        <%= link_to "九州", zoos_path(region: '九州'), class: "text-dark" %>
      </li>
      <li style="list-style: none;">
        <%= link_to "沖縄", zoos_path(region: '沖縄'), class: "text-dark" %>
      </li>
  </ul>
</div>
