<div class="row pt-3">
  <div class="col-12">
    <p><%= zoo.description %></p>
  </div>
</div>

<div class="row pt-5">
  <div class="col-12">
    <h4>施設情報</h4>
    <table class="table">
      <tr>
        <th>住所</th>
        <td><%= zoo.address %></td>
      </tr>
      <tr>
        <th>開園時間</th>
        <td><%= zoo.opening_hours %></td>
      </tr>
      <tr>
        <th>休園日</th>
        <td><%= zoo.closing_day %></td>
      </tr>
      <tr>
        <th>入園料</th>
        <td><%= zoo.admission %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= zoo.telephone_number %></td>
      </tr>
    </table>
  </div>
</div>