<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <div><%= link_to '動物園一覧へ戻る', zoos_path, class: "btn btn-primary" %></div>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-12 text-center">
      <%= image_tag @zoo.get_image_fill(1100, 500), class: "img-fluid rounded mb-4" %>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <h2><%= @zoo.name %></h2>
    </div>
    <div class="col-2">
      <div><%= link_to 'レビュー一覧', zoo_zoo_reviews_path(@zoo), class: "btn btn-success" %></div>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-12">
      <p><%= @zoo.description %></p>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-12">
      <h4>施設情報</h4>
      <table class="table">
        <tr>
          <th>住所</th>
          <td><%= @zoo.address %></td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td><%= @zoo.opening_hours %></td>
        </tr>
        <tr>
          <th>定休日</th>
          <td><%= @zoo.closing_day %></td>
        </tr>
        <tr>
          <th>料金</th>
          <td><%= @zoo.admission %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @zoo.telephone_number %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row pt-5">
    <div class="col-12">
      <h3 class="text-center">園内の動物たち</h3>
    </div>
  </div>
  <div class="row pt-5">
    <% @zoo_animals.each do |zoo_animals| %>
      <div class="col-3 mb-4">
        <div class="card h-100">
          <%= link_to animal_path(zoo_animals.animal) do %>
            <%= image_tag zoo_animals.animal.get_image_fit(240, 160), class: "card-img-top", alt: zoo_animals.animal.name %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= zoo_animals.animal.name %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
