<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <%= link_to '動物園一覧へ戻る', zoos_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-12 text-center">
      <%= image_tag @zoo.get_image_fill(1100, 500), class: "img-fluid rounded mb-4" %>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <h2><%= @zoo.name %></h2>
    </div>
    <div class="col-2">
      <%= link_to 'レビュー一覧', zoo_zoo_reviews_path(@zoo), class: "btn btn-success" %>
    </div>
  </div>

  <%= render 'zoo_info', zoo: @zoo %>
</div>

<div class="container">
  <div class="row pt-5">
    <div class="col-12">
      <h3 class="text-center">園内の動物たち</h3>
    </div>
  </div>
  <div class="row pt-5">
    <% sorted_zoo_animals = @zoo_animals.sort_by { |zoo_animal| [zoo_animal.animal.animal_type.id, zoo_animal.animal.id] } %>
    <% sorted_zoo_animals.each do |zoo_animal| %>
      <div class="col-3 mb-4">
        <div class="card h-100">
          <%= link_to animal_path(zoo_animal.animal) do %>
            <%= image_tag zoo_animal.animal.get_image_fill(240, 160), class: "card-img-top", alt: zoo_animal.animal.name %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= zoo_animal.animal.name %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>