<div class="container">
  <div class="row pt-5">
    <div class="col-xl-10 col-md-9">
      <div class="row">
        <div class="col-12">
          <p><%= image_tag @zoo.get_image(1000, 1000) %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h3><%= @zoo.name %></h3>
          <h5><%= @zoo.description %></h5>
          <h5><%= @zoo.address %></h5>
          <h5><%= @zoo.opening_hours %></h5>
          <h5><%= @zoo.closing_day %></h5>
          <h5><%= @zoo.admission %></h5>
          <h5><%= @zoo.telephone_number %></h5>
        </div>
      </div>
    </div>
  </div>


  <div class="row pt-5">
    <div class="col-3">
      <h3>見られる動物</h3>
    </div>
  </div>
  <div class="row pt-5">
    <% @zoo_animals.each do |zoo_animals| %>
      <div class="col-sm-3">
        <p>
          <%= image_tag zoo_animals.animal.get_image(120, 80) %>
        </p>
        <div><%= zoo_animals.animal.name %></div>
      </div>
    <% end %>
  </div>

</div>