<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <%= link_to '会員一覧へ戻る', admin_users_path, class: "btn btn-success" %>
      </div>
      <h3 class="pt-5"><%= "#{@user.nickname}さんの会員詳細" %></h3>
    </div>
  </div>

  <div class="row">
    <table class="table bg-light">
      <thead class="thead-light">
        <tr>
          <th>会員ID</th>
          <th>ニックネーム</th>
          <th>メールアドレス</th>
          <th>会員ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 15%;"><%= @user.id %></td>
          <td style="width: 20%;"><%= @user.nickname %></td>
          <td style="width: 35%;"><%= @user.email %></td>
          <td class="<%= @user.is_active ? 'text-success' : 'text-secondary' %> font-weight-bold" style="width: 20%;"><%= @user.is_active ? '有効' : '退会' %></td>
          <td style="width: 10%;"><%= link_to "編集する", edit_admin_user_path(@user.id), class: "btn btn-sm btn-success" %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row pt-5">
    <div class="col-12">
      <h3><%= "#{@user.nickname}さんのレビュー一覧" %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>本文</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @zoo_reviews.each do |zoo_review| %>
            <tr>
              <th style="width: 30%;">
                <%= link_to zoo_review.title, admin_user_zoo_review_path(@user.id, zoo_review), class: "zoo_review_#{zoo_review.id}" %>
              </th>
              <td>
                <% if zoo_review.body.length <= 100 %>
                  <%= zoo_review.body %>
                <% else %>
                  <%= truncate(zoo_review.body, length: 100) %>
                  <%= link_to "もっと読む", admin_user_zoo_review_path(@user.id, zoo_review) %>
                <% end %>
              </td>
              <td style="width: 15%;"><%= render "public/review_comments/counter", zoo_review: zoo_review %></td>
              <td style="width: 15%;"><%= render "public/zoo_reviews/static_rate", zoo_review: zoo_review %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>