<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-start">
      <h3><%= "#{@user.nickname}さんの会員詳細" %></h3>
    </div>
  </div>
  <div class="row">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td class="col-3 col-sm-2">ユーザーID</td>
          <td class="col-9 col-sm-8"><%= @user.id %></td>
        </tr>
        <tr>
          <td class="col-3 col-sm-2">ニックネーム</td>
          <td class="col-9 col-sm-8"><%= @user.nickname %></td>
        </tr>
        <tr>
          <td class="col-3 col-sm-2">メールアドレス</td>
          <td class="col-9 col-sm-8"><%= @user.email %></td>
        </tr>
        <tr>
          <td class="col-3 col-sm-2">ユーザーステータス</td>
          <% if @user.is_active == true %>
            <td class="col-9 col-sm-8 text-success font-weight-bold">有効</td>
          <% else %>
            <td class="col-9 col-sm-8 text-secondary font-weight-bold">退会</td>
          <% end %>
        </tr>
        <tr>
          <td class="col-2"></td>
          <td class="col-12 col-sm-10">
            <div class="d-flex flex-column flex-sm-row">
              <%= link_to "編集する", edit_admin_user_path(@user.id), class: "btn btn-success mb-2 mb-sm-0" %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>