<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
  		<h2>レビュー詳細</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@zoo_review.user) do %>
            <%= @zoo_review.user.nickname %>
            <% end %>
          </td>
          <td><%= @zoo_review.title %></td>
          <td><%= @zoo_review.body %></td>
          <td class="review-comments-counter">
            <%= render "public/review_comments/counter", zoo_review: @zoo_review %>
          </td>
          <td><%= render "static_rate", zoo_review: @zoo_review %></td>
          <% if @zoo_review.user == current_user %>
            <td><%= link_to 'Edit', edit_zoo_zoo_review_path(@zoo_review.zoo, @zoo_review), class: "btn btn-sm btn-success edit_zoo_review_#{@zoo_review.id}" %></td>
            <td><%= link_to 'Destroy', zoo_zoo_review_path(@zoo_review.zoo, @zoo_review), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_zoo_review_#{@zoo_review.id}" %></td>
          <% end %>
        </tr>
      </table>

      <div class="review-comments-index">
        <%= render "public/review_comments/index", zoo_review: @zoo_review %>
      </div>

      <%= render "public/review_comments/form", zoo_review: @zoo_review, review_comment: @review_comment %>

    </div>
  </div>
</div>