<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <div>
        <%= link_to 'レビュー一覧へ戻る', zoo_zoo_reviews_path(@zoo), class: "btn btn-primary" %>
      </div>
      <div class="d-flex justify-content-between align-items-center pt-4">
        <h3><%= @zoo_review.title %></h3>
        <% if @zoo_review.user == current_user %>
          <div class="btn-group">
            <%= link_to '編集', edit_zoo_zoo_review_path(@zoo_review.zoo, @zoo_review), class: "btn btn-success edit_zoo_review_#{@zoo_review.id}" %>
            <%= link_to '削除', zoo_zoo_review_path(@zoo_review.zoo, @zoo_review), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger destroy_zoo_review_#{@zoo_review.id}" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-12">
      <div>
        <%= render "public/zoo_reviews/static_rate", zoo_review: @zoo_review %>
      </div>
      <div>
        投稿者：<%= @zoo_review.user.nickname %>
      </div>
      <p class="pt-3"><%= @zoo_review.body %></p>
      <% if user_signed_in? %>
        <div class="pt-5">
          <%= render "public/review_comments/form", zoo_review: @zoo_review, review_comment: @review_comment %>
        </div>
      <% end %>
      <div class="pt-4">
        <%= render "public/review_comments/index", zoo_review: @zoo_review %>
      </div>
    </div>
  </div>
</div>