<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <h4 class="d-inline-block">会員ログイン</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", required: true %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h4 class="d-inline-block">会員登録がまだの方</h4>
      <p><%= link_to "こちら", new_user_registration_path %>から会員登録してください</p>
    </div>
  </div>
</div>
