<div class="container pt-5">
  <div class="row">
    <div class="col-2">
      <h3>会員情報</h3>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-12">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light">ニックネーム</td>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <td class="bg-light">メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <div><%= link_to "編集する", edit_user_path, class: "btn btn-success" %></div>
    </div>
  </div>

  <div class='row pt-5'>
    <div class='col-12'>
      <h3>投稿済みレビュー一覧</h3>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <table class='table'>
        <thead>
          <tr>
            <th>タイトル</th>
            <th>本文</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @zoo_reviews.each do |zoo_review| %>
            <tr>
              <th style="width: 30%;"><%= link_to zoo_review.title, zoo_zoo_review_path(zoo_review.zoo, zoo_review), class: "zoo_review_#{zoo_review.id}" %></th>
              <td>
                <% if zoo_review.body.length <= 100 %>
                  <%= zoo_review.body %>
                <% else %>
                  <%= truncate(zoo_review.body, length: 100) %>
                  <%= link_to "もっと読む", zoo_zoo_review_path(zoo_review.zoo, zoo_review) %>
                <% end %>
              </td>
              <td style="width: 15%;"><%= render "public/review_comments/counter", zoo_review: zoo_review %></td>
              <td style="width: 15%;"><%= render "public/zoo_reviews/static_rate", zoo_review: zoo_review %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
