<header>
  <nav class="navbar navbar-light" style="background-color: #ffea85;">
    <% if admin_signed_in? %>
      <div><%= image_tag "logo", style: "width: 100px; height: 50px; object-fit: cover;" %></div>
    <% elsif user_signed_in? %>
      <div><%= image_tag "logo", style: "width: 100px; height: 50px; object-fit: cover;" %></div>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <div><%= image_tag "logo", style: "width: 100px; height: 50px; object-fit: cover;" %></div>
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <% if admin_signed_in? %>
          <li>
            <%= link_to "動物園一覧", admin_zoos_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "動物一覧", admin_animals_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "動物種一覧", admin_animal_types_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "ZooNaviについて", home_about_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark btn' %>
          </li>
        <% elsif user_signed_in? %>
          <li>
            <%= link_to "動物園一覧", zoos_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "動物一覧", animals_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "マイページ", user_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "ZooNaviについて", home_about_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark btn' %>
          </li>
        <% else %>
          <li>
            <%= link_to "動物園一覧", zoos_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "動物一覧", animals_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "ZooNaviについて", home_about_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "nav-link text-dark btn sign_in", method: :post %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark btn' %>
          </li>
          <li>
            <%= link_to "管理者ログイン", new_admin_session_path, class: 'nav-link text-dark btn' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>